@model IEnumerable<PlazaVeaCRMWeb.Models.OrdenDespacho>
@*@model PlazaVeaCRMWeb.Models.OrdenDespacho*@
@using PagedList.Mvc;

@{
    ViewBag.Title = "Actualizar Orden de Despacho";
}

@using (Html.BeginForm("Index", "OrdenDespacho", FormMethod.Get))
{
    @Html.ValidationSummary(false)

    <table style="border: 0px; width: 500px;">
        <tr>
            <td>
                <div class="editor-label">
                    Estado Solicitud: 
                </div>

                <div class="editor-field">
                    @Html.DropDownList("Estado", new SelectList(ViewBag.Estado, "Value", "Text"), new { @id = "selEstado", @class = "form-control" })
                </div>
            </td>
            <td style="vertical-align:bottom;">
                <input name="SearchButton" type="submit" value="BUSCAR" />
            </td>
        </tr>
    </table>

}


@*<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PersonalProgramado.Observacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Transporte.NroPlaca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaDespacho)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoPrioridadOrdenDespacho)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdConductor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Observacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstadoOrdenDespacho)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PersonalProgramado.Observacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Transporte.NroPlaca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaDespacho)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoPrioridadOrdenDespacho)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdConductor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Observacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstadoOrdenDespacho)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdOrdenDespacho }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdOrdenDespacho }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdOrdenDespacho })
        </td>
    </tr>
}

</table>*@
